.next{color:#43280a;}
#sz{width:1000px;height:400px;}
#kr{width:375px;}
#ke{width:250px;}
#konyv{width:250px;}
#szoba{width:400px;}
#emlek{width:400px;}
#pad{width:400px; }
#anya{width:250px;}